body {

	font-family: 'Poppins', sans-serif;
}

nav {
	background-image: linear-gradient(to right, #eb4949, #ef4f7b, #e363a8, #cb7bcb, #ab91e0, #8ba2f2, #62b1fb, #2dbffc, #00d0fb, #00deea, #00eacb, #3af2a2);
}

nav li:hover{
	background: #2980b9; 
}

nav img {
	width: 120px;
	margin-top: 6px;

}

.cool-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;
}

.cool-link:hover::after {
	width: 100%;
	transition: width .3s;
}

.sidenav {
	background: linear-gradient(to bottom, #eb4949, #ef4f7b, #e363a8, #cb7bcb, #ab91e0, #8ba2f2, #62b1fb, #2dbffc, #00d0fb, #00deea, #00eacb, #3af2a2);

}

.sidenav li{
	margin-top:10px;
}

.sidenav li:hover{
	background: #2980b9; 
}

.sidenav li a{
	color: white;
}

#dropdown-nav {
	background: #2c3e50
}

#dropdown-nav li a{
	color: white;
}

#dropdown-nav li a:hover {
	background: #2980b9; 
}

#dropdown-sidenav {
	background: #2c3e50
}

#dropdown-sidenav li a{
	color: white;
}

#dropdown-side	nav li a:hover {
	background: #2980b9; 
}

.parallax-container {
	height: 90vh;
}

.welcome {
	margin-top: 40vh;
	align-content: center;
	color: white;
}

.welcome h2{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	background: rgba(1,1,1,0.5);
}

.welcome a{
	background: linear-gradient(to right, #eb4949, #ef4f7b, #e363a8, #cb7bcb, #ab91e0, #8ba2f2, #62b1fb, #2dbffc, #00d0fb, #00deea, #00eacb, #3af2a2);
	border-radius: 40px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.welcome a:hover {
	background: linear-gradient(to left, #eb4949, #ef4f7b, #e363a8, #cb7bcb, #ab91e0, #8ba2f2, #62b1fb, #2dbffc, #00d0fb, #00deea, #00eacb, #3af2a2);

}

.quote {
	background-image: linear-gradient(to right top, #0066ff, #00a5ff, #00cde4, #6ceab9, #eaffbc);
	color: white;
	font-size: 16px;
	font-style: italic;
}

#product {
	height: 20%;
}

#product .img-product{
	filter: blur(3px);
	opacity: 0.5 !important;
}

#product h3,
#product h6 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.card .card-title p {
	font-size: 17px;
}

.card-content .btn {
	background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	border-radius: 40px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.card-content .btn:hover {
	background: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}








#contact-card {
	background-image: linear-gradient(to right top, #0066ff, #00a5ff, #00cde4, #6ceab9, #eaffbc);
}

footer {
	background: linear-gradient(to right, #eb4949, #ef4f7b, #e363a8, #cb7bcb, #ab91e0, #8ba2f2, #62b1fb, #2dbffc, #00d0fb, #00deea, #00eacb, #3af2a2);
}
footer img {
	width: 200px;
}






/*mobile*/
@media only screen and (max-width: 576px){
	.welcome h2{
		font-size: 36px;
	}

	nav img {
		width: 100px;

	}

	footer img {
		width: 150px;
	}


}
















