

nav {
    background-color:transparent;
    box-shadow: 0 0 0;
    
}

nav ul li a:hover{
    background-color: #e84c3d;
}

nav ul li.menu{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	font-size: 18px;
}
nav ul li.active {
    background-color: #e84c3d;
}


.parallax-container {
	height: 658px;
	margin-top: -65px;
}

.clients{
	margin-top: 200px;
}


.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 100%;
    border-radius: 0;
    will-change: bottom, opacity;
}

.clients h3,
.clients h5,
.clients p {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.clients img {
	max-width: 70%;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));

}
.beranda img.circle {
	height: 200px;
	width: 200px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));

}
.beranda{
	margin-top: 200px;
}

.beranda .card-panel {
	margin-top: 70px;

}
.beranda .card-panel:hover {
	background-color: #e84c3d;
	color : white;
}

section, footer {
	padding: 20px 0;
}
.dropdown-content {
	width: 250px !important;
}


.loginrow {
	margin-top: 140px;
}

.loginrow img{
	max-width: 80%; 
	margin-top: 70px; 
	margin-left: 25px;
}

.btn-floating.btn-large i:hover {
	background-color: #e84c3d;
}


/*mobile*/
@media only screen and (max-width: 576px){
	.clients img{
		max-width: 50%;
	}

	.beranda img{
		max-width: 50%;
	}

	.beranda{
	margin-top: 80px;
	}
	
	.beranda .card-panel {
		margin-top: 10px;
		height: 100px;
	}

	.beranda .card-panel h5 {
		font-size: 16px;
		margin-top: -5px;
	}

	.beranda .card-panel i {
		margin-top: -10px;
		font-size: 45px;
	}
	
	.clients{
	margin-top: 80px;
	}
	
	.clients h3,
	.clients h5,
	.clients p {
		text-align: center;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	}

	.clients h5.beranda-menu  {
		text-shadow: 0px 0px 0px;
	}

	.loginrow {
		margin-top: 70px;
	}

	.loginrow img{
		max-width: 50%; 
		margin-top: 20px; 
		margin-left: 80px;
	}

	.beranda img.circle {
		height: 100px;
		width: 100px;
		filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
	}

	.user h5 {
		font-size: 14px;
	}

 	.parallax-container {
	height: 680px;
}
 