{% extends 'base.html' %}
{% load staticfiles %}

<style>
{% block css %}
	.scrollable-menu {
	    height: auto;
	    max-height: 500px;
	    overflow-x: hidden;
	}
{% endblock css %}
</style>

{% block header %}
	{% if request.user.is_authenticated %}
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item {% if beranda %}active{% endif %}"><a class="nav-link" href="{% url 'lppm:home' %}">Beranda</a></li>
							<li class="nav-item {% if penelitian_list_self %}active{% endif %}"><a class="nav-link" href="{% url 'lppm:penelitian_list_self' %}">Penelitian</a></li>
							<li class="nav-item {% if pengabdian_list_self %}active{% endif %}"><a class="nav-link" href="{% url 'lppm:pengabdian_list_self' %}">Pengabdian</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Statistik</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'lppm:penelitian_statistik' %}">Penelitian</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'lppm:pengabdian_statistik' %}">Pengabdian</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><img src="{% static 'icon/png/bell-2x.png' %}" alt=""></a>
								<ul class="dropdown-menu scrollable-menu">
									{% for i in user.notifications.all %}
									<li class="nav-item"><a class="nav-link" href="{% url 'lppm:validasi' pk=i.pk %}" {% if i.unread == False %}style="color: green;"{% endif %}>{{ i.actor.dosen }} {{ i.verb }} <small>{{ i.timesince }}</small></a> 
									{% endfor %}
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'lppm:logout' %}">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	{% else %}
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand" href="index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item {% if awal %}active{% endif %}"><a class="nav-link" href="{% url 'lppm:awal' %}">Beranda</a></li>
							<li class="nav-item {% if statistik_penelitian %}active{% endif %}"><a class="nav-link" href="{% url 'lppm:penelitian_statistik' %}">Penelitian</a></li>
							<li class="nav-item {% if statistik_pengabdian %}active{% endif %}"><a class="nav-link" href="{% url 'lppm:pengabdian_statistik' %}">Pengabdian</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'lppm:masuk' %}">Login</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	{% endif %}
{% endblock header %}
