{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'LoginPage/images/icons/favicon.ico' %}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'LoginPage/css/main.css' %}">
<!--===============================================================================================-->
	<!-- alertify -->
    <link href="{% static 'alertify/css/alertify.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'alertify/css/themes/default.min.css' %}" rel="stylesheet">
</head>
<body>
	{% if messages %}   
      {% for message in messages %}
        <input type="hidden" id="messages_status" value="{{ message.tags }}">
        <input type="hidden" id="messages_content" value="{{ message }}">
      {% endfor %}
    {% endif %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">{% csrf_token %}
					<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
					<span class="login100-form-title p-b-26">
						Welcome
					</span>

					<div class="wrap-input100">
						<input class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<a class="txt2" href="{% url 'lppm:awal' %}">
							Kembali
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	{% if form.errors %}
    <input type="hidden" id="messages_status" value="error">
    <input type="hidden" id="messages_content" value="Login Gagal !!!">
  	{% endif %}

<!--===============================================================================================-->
	<script src="{% static 'LoginPage/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'LoginPage/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'LoginPage/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'LoginPage/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'LoginPage/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'LoginPage/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'LoginPage/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'LoginPage/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'LoginPage/js/main.js' %}"></script>
	
	<!-- alertify js -->
    <script src="{% static 'alertify/alertify.min.js' %}"></script>
	<script>
		var messages_status = $('#messages_status').val();
	    var messages_content = $('#messages_content').val();
	    if(messages_status == "success") {
	        alertify.success(messages_content);
	    } else if(messages_status == "error") {
	        alertify.error(messages_content);
	    }
	    console.log(messages_status);
	    console.log(messages_content);
	</script>
</body>
</html>