{% extends 'home.html' %}
{% load staticfiles %}

{% block content %}

{% if messages %}   
    {% for message in messages %}
    <input type="hidden" id="messages_status" value="{{ message.tags }}">
    <input type="hidden" id="messages_content" value="{{ message }}">
    {% endfor %}
{% endif %}

	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-right">
					<h1>Detail Penelitian</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="section_gap portfolio_area" id="work">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="main-title">
					
						<form action="" method="POST" enctype='multipart/form-data'>{% csrf_token %}
							<input type="hidden" name="aksi" value="update_penelitian">
							<div class="form-group">
						    	<label for="Judul">Judul</label>
						    	<input type="text" class="form-control" id="Judul" name="judul" placeholder="{{ penelitian_detail.judul }}" value="{{ penelitian_detail.judul }}" required>
						  	</div><br />
						  	<div class="form-group">
							    <label for="Abstrak">Abstrak</label>
							    <textarea class="form-control" id="Abstrak" name="abstrak" rows="10" required>{{ penelitian_detail.abstrak }}</textarea>
							</div><br />
							<div class="form-group">
						    	<label for="Tahun">Tahun</label>
						    	<input type="number" class="form-control" id="Tahun" name="tahun" placeholder="{{ penelitian_detail.tahun }}" value="{{ penelitian_detail.tahun }}" required>
						  	</div><br />
						  	<div class="form-group">
						    	<label for="Lokasi">Lokasi</label>
						    	<input type="text" class="form-control" id="Lokasi" name="lokasi" placeholder="{{ penelitian_detail.lokasi }}" value="{{ penelitian_detail.lokasi }}" required>
						  	</div><br />
						  	<div class="form-group">
						    	<label for="id_file_update">File</label>
						    	<input type="file" class="form-control-file" id="id_file_update" name="file" value="{{ penelitian_detail.file.url }}">
						    	<a href="{{ penelitian_detail.file.url }}" target="_blank">{{ penelitian_detail.file.url }}</a>
						    	<small id="fileHelpBlock" class="form-text text-muted">File laporan harus berupa pdf.</small>
						  	</div><br />					
						  	<button type="submit" class="btn btn-warning" id="btnUpdatePenelitian"><img src="{% static 'icon/png/pencil-2x.png' %}" alt=""></button> <button type="button" data-toggle="modal" data-target="#deletePenelitian" class="btn btn-danger"><img src="{% static 'icon/png/trash-2x.png' %}" alt=""></button>
						</form><br />
						<hr /><br />

						<div>
						<form action="" method="POST">{% csrf_token %}
							<input type="hidden" name="aksi" value="update_ketua">
							{% if ketua %}
							<label for="Ketua"><p>Ketua</p></label> : <input type="text" id="Ketua" name="ketua" value="{{ ketua.nama }}" placeholder="{{ ketua.nama }}" required> <button type="submit"><img src="{% static 'icon/png/pencil-2x.png' %}" alt=""></button> <button type="button" data-toggle="modal" data-target="#deleteKetua"><img src="{% static 'icon/png/trash-2x.png' %}" alt=""></button>
							{% else %}
							<label for="Ketua"><p>Ketua</p></label> : <input type="text" id="Ketua" name="ketua" required> <button type="submit"><img src="{% static 'icon/png/plus-2x.png' %}" alt=""></button>
							{% endif %}
						</form>
						</div>

						<br /><br />
						<h5>Anggota</h5>
						<table class="table table-stripped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nama</th>
									<th scope="col">Opsi</th>
								</tr>
							</thead>
							<tbody>
								{% for i in anggota %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ i.nama }}</td>
									<td>
										<button type="button" data-toggle="modal" data-target="#updateAnggota{{ i.pk }}"><img src="{% static 'icon/png/pencil-2x.png' %}" alt=""></button> <button type="button" data-toggle="modal" data-target="#deleteAnggota{{ i.pk }}"><img src="{% static 'icon/png/trash-2x.png' %}" alt=""></button>
									</td>
								</tr>

								<!-- Modal update anggota -->
								<div style="z-index: 10000">
								<div class="modal fade" id="updateAnggota{{ i.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  		<div class="modal-dialog modal-dialog-centered" role="document">
							    		<div class="modal-content">
							      			<div class="modal-header">
							        			<h5 class="modal-title" id="exampleModalLabel">Edit Anggota Penelitian</h5>
							      			</div>
							      			<div class="modal-body">
							      				<form action="" method="POST">{% csrf_token %}
							      					<input type="hidden" name="aksi" value="update_anggota">
							      					<input type="hidden" name="pk_anggota" value="{{ i.pk }}">
							      					<div class="form-group">
							      					<label for="Anggota"><p>Nama</p></label> : <input type="text" id="Anggota" name="anggota" placeholder="{{ i.nama }}" value="{{ i.nama }}" required>
							      					</div>
							      					<div class="form-group">
							    						<button type="submit"><img src="{% static 'icon/png/hard-drive-2x.png' %}" alt=""></button>
							  						</div>
							      				</form>
							      			</div>
							    		</div>
							  		</div>
								</div>
								</div>
								<!-- /Modal update anggota -->
								<!-- Modal delete anggota -->
								<div style="z-index: 10000">
								<div class="modal fade" id="deleteAnggota{{ i.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  		<div class="modal-dialog modal-dialog-centered" role="document">
							    		<div class="modal-content">
							      			<div class="modal-header">
							        			<h5 class="modal-title" id="exampleModalLabel">Hapus Anggota Penelitian</h5>
							      			</div>
							      			<div class="modal-body">
							      				<form action="" method="POST">{% csrf_token %}
							      					<input type="hidden" name="aksi" value="delete_anggota">
							      					<input type="hidden" name="pk_anggota" value="{{ i.pk }}">
							      					<p>Hapus Anggota?</p>
					      							<br />
							      					<div class="form-group">
							    						<button type="submit" class="btn btn-danger"><img src="{% static 'icon/png/trash-2x.png' %}" alt=""></button>
							  						</div>
							      				</form>
							      			</div>
							    		</div>
							  		</div>
								</div>
								</div>
								<!-- /Modal delete anggota -->
								{% endfor %}
							</tbody>
						</table>
						<button type="button" data-toggle="modal" data-target="#addAnggota"><img src="{% static 'icon/png/plus-2x.png' %}" alt=""></button>

						<!-- Modal delete Penelitian -->
						<div style="z-index: 10000">
						<div class="modal fade" id="deletePenelitian" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  		<div class="modal-dialog modal-dialog-centered" role="document">
					    		<div class="modal-content">
					      			<div class="modal-header">
					        			<h5 class="modal-title" id="exampleModalLabel">Hapus Penelitian</h5>
					        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          				<span aria-hidden="true">&times;</span>
					        			</button>
					      			</div>
					      			<div class="modal-body">
					      				<p>Hapus Penelitian ini?</p>
					      				<br />
					      				<form action="" method="POST">{% csrf_token %}
					      					<input type="hidden" name="aksi" value="delete_penelitian">
					      					<div class="form-group">
					    						<button type="submit" class="btn btn-danger"><img src="{% static 'icon/png/trash-2x.png' %}" alt=""></button>
					  						</div>
					      				</form>
					      			</div>
					    		</div>
					  		</div>
						</div>
						</div>
						<!-- /Modal delete Penelitian -->

						<!-- Modal delete Ketua -->
						<div style="z-index: 10000">
						<div class="modal fade" id="deleteKetua" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  		<div class="modal-dialog modal-dialog-centered" role="document">
					    		<div class="modal-content">
					      			<div class="modal-header">
					        			<h5 class="modal-title" id="exampleModalLabel">Hapus Ketua Penelitian</h5>
					        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          				<span aria-hidden="true">&times;</span>
					        			</button>
					      			</div>
					      			<div class="modal-body">
					      				<p>Hapus Ketua?</p>
					      				<br />
					      				<form action="" method="POST">{% csrf_token %}
					      					<input type="hidden" name="aksi" value="delete_ketua">
					      					<div class="form-group">
					    						<button type="submit" class="btn btn-danger"><img src="{% static 'icon/png/trash-2x.png' %}" alt=""></button>
					  						</div>
					      				</form>
					      			</div>
					    		</div>
					  		</div>
						</div>
						</div>
						<!-- /Modal delete Ketua -->

						<!-- Modal add anggota -->
						<div style="z-index: 10000">
						<div class="modal fade" id="addAnggota" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  		<div class="modal-dialog modal-dialog-centered" role="document">
					    		<div class="modal-content">
					      			<div class="modal-header">
					        			<h5 class="modal-title" id="exampleModalLabel">Tambah Anggota Penelitian</h5>
					      			</div>
					      			<div class="modal-body">
					      				<form action="" method="POST">{% csrf_token %}
					      					<input type="hidden" name="aksi" value="add_anggota">
					      					<div class="form-group">
					      					<label for="Anggota"><p>Nama</p></label> : <input type="text" id="Anggota" name="anggota" required>
					      					</div>
					      					<div class="form-group">
					    						<button type="submit"><img src="{% static 'icon/png/hard-drive-2x.png' %}" alt=""></button>
					  						</div>
					      				</form>
					      			</div>
					    		</div>
					  		</div>
						</div>
						</div>
						<!-- /Modal add anggota -->

					</div>
				</div>
			</div>

		</div>
	</section>

{% endblock content %}

<script>
{% block js %}
(function($) {
    $.fn.checkFileType = function(options) {
        var defaults = {
            allowedExtensions: [],
            success: function() {},
            error: function() {}
        };
        options = $.extend(defaults, options);

        return this.each(function() {

            $(this).on('change', function() {
                var value = $(this).val(),
                    file = value.toLowerCase(),
                    extension = file.substring(file.lastIndexOf('.') + 1);

                if ($.inArray(extension, options.allowedExtensions) == -1) {
                    options.error();
                    $(this).focus();
                } else {
                    options.success();

                }

            });

        });
    };

})(jQuery);

$(function() {
    $('#id_file_update').checkFileType({
        allowedExtensions: ['pdf'],
        success: function() {
        	$("#btnUpdatePenelitian").prop('disabled', false);
        },
        error: function() {
            alertify.error("Format File Salah");
            $("#btnUpdatePenelitian").prop('disabled', true);
        }
    });
});

var messages_status = $('#messages_status').val();
var messages_content = $('#messages_content').val();
if(messages_status == "success") {
	alertify.success(messages_content);
} else if(messages_status == "error") {
	alertify.error(messages_content);
}
{% endblock js %}
</script>