{% extends 'home.html' %}
{% load staticfiles %}
{% load notifications_tags %}

{% block content %}

<!-- {% notifications_unread as unread_count %}

{% if unread_count %}
	You have <strong>{{ unread_count }}</strong> unread notifications.
{% endif %}

<h1>{% live_notify_badge %}</h1>

{{ user.notifications.unread }} -->

{% if messages %}   
    {% for message in messages %}
    <input type="hidden" id="messages_status" value="{{ message.tags }}">
    <input type="hidden" id="messages_content" value="{{ message }}">
    {% endfor %}
{% endif %}

	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-right">
					<h1>Daftar Penelitian Anda</h1>
				</div>
			</div>
		</div>
	</section>


	<section class="section_gap portfolio_area" id="work">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="main-title">
					
						<form method='GET' action='' class='row'>
			    			<div class="col-sm-2"></div>
			      				<div class='col-sm-8'>
			          				<div class='input-group'>
			            				<input class='form-control' type='text' name='q' placeholder='Judul atau Tahun' value='{{ request.GET.q }}'/>
			            				<span class='input-group-btn'>
			              					<button class='btn btn-default' type='submit'><i class="fa fa-search"></i>	</button>
			            				</span>
			          				</div>
			     				</div>	
			    			<div class="col-sm-2"><!-- <input type="checkbox" id="scales" name="publikasi"
			    					               value="scales" onclick="myFunction()" />
			    					        <label for="scales">Scales</label> --></div>
	  					</form>

					</div>
				</div>
			</div>

			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Judul</th>
							<th scope="col">Detail</th>
							<th scope="col">Validasi</th>
						</tr>
					</thead>
					<tbody>
					{% for i in list_penelitian_self1 %}
						<tr>
							<td>{{ forloop.counter0|add:list_penelitian_self1.start_index }}</td>
							<td><a href="{% url 'lppm:penelitian_detail' pk=i.pk %}">{{ i.judul }}</a></td>
							<td>
								<button type="button" class="btn" data-toggle="modal" data-target="#detailPenelitian{{ i.pk }}"><img src="{% static 'icon/png/eye-2x.png' %}" alt=""></button>
							</td>
							<td>
								{% if i.status == False %}
								<img src="{% static 'icon/png/x-2x.png' %}" alt="">
								{% else %}
								<img src="{% static 'icon/png/check-2x.png' %}" alt="">
								{% endif %}
							</td>
						</tr>
						<div style="z-index: 10000">
						<!-- modal detail penelitian -->
						<div class="modal fade" id="detailPenelitian{{ i.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Detail Penelitian</h5>
									</div>
									<div class="modal-body">
										{{ i.judul }}
									</div>
								</div>
							</div>
						</div>
						<!-- end modal detail penelitian -->
						</div>
					{% endfor %}
					</tbody>
				</table>

				<button type="button" class="btn" data-toggle="modal" data-target="#createPenelitian"><img src="{% static 'icon/png/plus-2x.png' %}" alt=""></button>

				<!-- modal create penelitian -->
				<div style="z-index: 10000">
				<div class="modal fade" id="createPenelitian" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Tambah Penelitian</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form action="" method="POST" enctype='multipart/form-data' id="addPenelitianForm">{% csrf_token %}
									<div class="form-group">
				      					<div class="input-group mb-3">
				        					<div class="input-group-prepend">
				          						<span class="input-group-text" id="basic-addon1">Judul</span>
				        					</div>
				        					<input type="text" class="form-control" placeholder="" aria-label="Judul" aria-describedby="basic-addon1" name="judul" value="" required />
				      					</div>
				    				</div>
				    				<div class="form-group">
			    						<div class="input-group mb-3">
			      							<div class="input-group-prepend">
			        							<span class="input-group-text">Abstrak</span>
			      							</div>
			      							<textarea class="form-control" aria-label="Abstrak" name="abstrak" rows="5" cols="50" required></textarea>
			    						</div>
			  						</div>
				    				<div class="form-group">
				      					<div class="input-group mb-3">
				        					<div class="input-group-prepend">
				          						<span class="input-group-text" id="basic-addon1">Tahun</span>
				        					</div>
				        					<!-- <input type="number" class="form-control" placeholder="" aria-label="Judul" aria-describedby="basic-addon1" name="tahun" value="" required /> -->
				        					{{ formPenelitian.tahun }}
				      					</div>
				    				</div>
				    				<div class="form-group">
			    						<div class="input-group mb-3">
			      							<div class="input-group-prepend">
			        							<span class="input-group-text">Lokasi</span>
			      							</div>
			      							<textarea class="form-control" aria-label="Lokasi" name="lokasi" required></textarea>
			    						</div>
			  						</div>
			  						<div class="form-group">
			      						{% if penelitian_detail.file %}
			        					<a href="{{ penelitian_detail.file.url }}" target="_blank">
			          						<img src="{{ penelitian_detail.file.url }}" alt="Error" />
			        					</a>
			      						{% endif %}
			        					<div class="input-group mb-3">
			          						{{ formPenelitian.file }}
			        					</div>
			        					<small id="fileHelpBlock" class="form-text text-muted">
								          File laporan harus berupa pdf.
								       	</small>
			      					</div>
			      					<div class="form-group">
			    						<button type="submit" class="btn" disabled id="btnAddPenelitian"><img src="{% static 'icon/png/hard-drive-2x.png' %}" alt=""></button>
			  						</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!-- end modal create penelitian -->
			</div> <br />

			<div class="pagination">
	    		<span class="step-links">
		        	{% if list_penelitian_self1.has_previous %}
		            <a href="?page=1">&laquo; first</a>
		            <a href="?page={{ list_penelitian_self1.previous_page_number }}">previous</a>
		        	{% endif %}
		        	<span class="current">
		            	Page {{ list_penelitian_self1.number }} of {{ list_penelitian_self1.paginator.num_pages }}.
		        	</span>
		        	{% if list_penelitian_self1.has_next %}
		            <a href="?page={{ list_penelitian_self1.next_page_number }}">next</a>
		            <a href="?page={{ list_penelitian_self1.paginator.num_pages }}">last &raquo;</a>
		        	{% endif %}
	    		</span>
			</div>

		</div>
	</section>
{% endblock content %}

<script>
{% block js %}
(function($) {
    $.fn.checkFileType = function(options) {
        var defaults = {
            allowedExtensions: [],
            success: function() {},
            error: function() {}
        };
        options = $.extend(defaults, options);
        return this.each(function() {
            $(this).on('change', function() {
                var value = $(this).val(),
                    file = value.toLowerCase(),
                    extension = file.substring(file.lastIndexOf('.') + 1);
                if ($.inArray(extension, options.allowedExtensions) == -1) {
                    options.error();
                    $(this).focus();
                } else {
                    options.success();
                }
            });
        });
    };
})(jQuery);

$(function() {
    $('#id_file').checkFileType({
        allowedExtensions: ['pdf'],
        success: function() {
            /*alert('Success');*/
            $("#btnAddPenelitian").prop('disabled', false);
        },
        error: function() {
            alertify.error("Format File Salah");
        }
    });
});

var messages_status = $('#messages_status').val();
var messages_content = $('#messages_content').val();
if(messages_status == "success") {
	alertify.success(messages_content);
} else if(messages_status == "error") {
	alertify.error(messages_content);
}
{% endblock js %}
</script>