{% extends 'awal.html' %}
{% load staticfiles %}


{% block content %}
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-right">
					<h1>Statistik Pengabdian Masyarakat</h1>
				</div>
			</div>
		</div>
	</section>


	<section class="section_gap portfolio_area" id="work">
		<div class="container"><canvas id="myChart2" width="1200px;" height="300px;"></canvas>	
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="main-title">
						

					

					{% for afk, afk1 in pengabdian.items %}
						<div class="single-blog col-lg-4 col-md-4">
							<h4>Fakultas {{ afk }}</h4>
						{% for afk2, afk3 in afk1.items %}
							<a href="{% url 'lppm:pengabdian_list' nama=afk2 %}"><p>{{ afk2 }}<span class="pull-right label label-info">{{ afk3 }}</span></p></a>
						{% endfor %}
						</div>
					{% endfor %}


					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

<script>
{% block js %}
	var endpoint = '/chartPengabdian/'
	var defaultData = []
	var labels = [];
	$.ajax({
	    method: "GET",
	    url: endpoint,
	    success: function(data){
	        labels = data.labels
	        defaultData = data.default
	        setChart()
	    },
	    error: function(error_data){
	        console.log("error")
	        console.log(error_data)
	    }
	})

	function setChart(){
	    var ctx = document.getElementById("myChart");
	    var ctx2 = document.getElementById("myChart2");
	    var myChart = new Chart(ctx2, {
	    type: 'line',
	    data: {
	        labels: labels,
	        datasets: [{
	            label: 'Jumlah',
	            data: defaultData,
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true,
	                    stacked: true,
	                    stepSize: 25,
	                    max: 100,
	                }
	            }]
	        }
	    }
	});
	}
{% endblock %}
</script>